<div [formGroup]="addressForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="User Name" formControlName="userName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-raised-button color="primary" routerLink="/new-user" type="submit">Create New User</button>
    </mat-card-actions>
  </mat-card>
</div>