<div class="my-profile">
  <h1 class="mat-display-1" style="margin: 32px 0;">My Profile</h1>
  <div fxLayout="row" fxLayout.md="column" fxLayoutGap="32px">
    <section fxFlex="50%">
      <h2 class="mat-headline">User Info</h2>
      <app-contact [disabled]="true" [user]="user"></app-contact>
    </section>
    <section fxFlex="50%">
      <h2>Applications</h2>

        <app-application-list></app-application-list>

      <button mat-raised-button routerLink="application/new" style="margin-top: 32px;">New Application</button>
    </section>
  </div>
</div>
